.wrapper {
    padding-top: 20px;
}

label {
    padding-left: 20px;
}

#nextBtn {
    align-items: end !important;
}

header {
    display: flex;
    background-color: darkviolet;
    height: 200px;
    width: 100%;
    text-align: center;
    align-items: center;

}